button {
    padding: 0.75em 1.7em;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: var(--purple);
    font-size: var(--font-md);

    transition: ease-in-out 0.15s;
}

button:hover {
    cursor: pointer;
    background-color: var(--light-purple);
}

.btn--secondary {
    background-color: var(--cyan);
}

.btn--secondary:hover {
    background-color: var(--dark-cyan);
}