.online-player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10em;
    min-width: 10em;
    height: 100%;
    min-height: 10.5em;
    background: var(--lightest-gray);
    color: var(--dark-gray);
    border-radius: 10px;
    text-align: center;
    transition: ease-in-out 0.2s;
}

.online-player:hover {
    transform: scale(1.05);
}

.online-player__last p {
    color: var(--gray);
}

.online-player__img img {
    height: 50px;
    width: auto;
    filter: drop-shadow(2px 2px 2px #cfcfcf);
}

#Offline {
    filter: opacity(0.45);
}